---
version: 2

updates:
  - package-ecosystem: cargo
    cooldown:
      default-days: 7
    directory: code/
    schedule:
      interval: monthly

  - package-ecosystem: devcontainers
    cooldown:
      default-days: 7
    directory: /
    schedule:
      interval: monthly

  - package-ecosystem: github-actions
    cooldown:
      default-days: 7
    directory: /
    target-branch: dev
    rebase-strategy: auto
    schedule:
      interval: monthly
    assignees: [ georglauterbach ]
    labels: [ area/ci, kind/update ]
