/* ------------------------------------------- */
/* ----  General  ---------------------------- */
/* ------------------------------------------- */

/* TODO This configuration is not done */

/*
  Waybar Styling [Light System Theme]
    - GitHub wiki: https://github.com/Alexays/Waybar/wiki/Styling
*/

* {
    font-family: "JetbrainsMono Nerd Font";
    font-size: 12px;

    border: none;
    border-radius: 10px;

    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;

    transition: none;

    color: #282828;
    font-weight: 600;
}

window {
    background: transparent;
}

window#waybar>box {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
}

/* ------------------------------------------- */
/* ----  Tooltips  --------------------------- */
/* ------------------------------------------- */

tooltip {
    background-color: #FAFAFA;
}

tooltip label {
    color: #4B505B;
    font-size: 16px;
}

/* ------------------------------------------- */
/* ----  Left Modules  ----------------------- */
/* ------------------------------------------- */

#tray {
    padding-left: 0px;
    padding-right: 0px;
    background: #FAFAFA;
}

#tray label {
    border-radius: 0px;
    color: #4B505B;
}

#custom-notifications {
    background: #4B505B;
    color: #FAFAFA;
}

#window {
    color: #4B505B;
}

#mode {
    color: #4B505B;
}

/* ------------------------------------------- */
/* ----  Middle Modules  --------------------- */
/* ------------------------------------------- */

#workspaces button {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background: #FAFAFA;
}

#workspaces button label {
    color: #4B505B;
}

#workspaces button.focused {
    background: #4B505B;
}

#workspaces button.focused label {
    color: #FAFAFA;
}

#workspaces button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    transition: none; /* Disable predefined animations */
}

#workspaces button.urgent {
    background: #D05858;
}

/* ------------------------------------------- */
/* ----  Right Modules  ---------------------- */
/* ------------------------------------------- */

#cpu {
    background: #E78A4E;
}

#memory {
    background: #D8A657;
}

#network {
    background: #A9B655;
    /* min-width: 15em; */
}

#battery {
    background: #89B482;
}

#battery.critical:not(.charging) {
    background: #EA6962;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#wireplumber {
    background: #7DAEA3;
}

#clock {
    background: #D3869B;
}
