/* ------------------------------------------- */
/* ----  General  ---------------------------- */
/* ------------------------------------------- */

/*
  Waybar Styling [Light System Theme]
    - GitHub wiki: https://github.com/Alexays/Waybar/wiki/Styling
*/

* {
  font-family: "JetbrainsMono Nerd Font";
  font-size: 12px;

  border: none;
  border-radius: 10px;

  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;

  transition: none;
}

window#waybar {
  color: #5C6A72;
  font-weight: 600;
}

window#waybar.empty #window,
window#waybar.solo #window,
window#waybar.floating #window,
window#waybar.stacked #window,
window#waybar.tabbed #window,
window#waybar.tiled #window {
    color: #5C6A72;
}

window#waybar>box {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

/* ------------------------------------------- */
/* ----  Tooltips  --------------------------- */
/* ------------------------------------------- */

tooltip {
  background-color: #FFFBEF;
}

tooltip label {
  color: #5C6A72;
  font-size: 16px;
  font-weight: 300;
}

/* ------------------------------------------- */
/* ----  Left Modules  ----------------------- */
/* ------------------------------------------- */

#tray {
  padding-left: 5px;
  padding-right: 5px;
  background: #F2EFDF;
}

#tray label {
  color: #5C6A72;
}

#idle_inhibitor {
  background: #F2EFDF;
  color: #5C6A72;
}

#custom-audio_idle_inhibitor {
  background: #F2EFDF;
  color: #5C6A72;
}

#custom-notifications {
  background: #F2EFDF;
  color: #5C6A72;
}

#window {
  color: #282828;
}

#mode {
  color: #282828;
}

/* ------------------------------------------- */
/* ----  Middle Modules  --------------------- */
/* ------------------------------------------- */

#workspaces button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background: #F2EFDF;
}

#workspaces button label {
  color: #5C6A72;
}

#workspaces button.focused {
  background: #5C6A72;
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  transition: none; /* Disable predefined animations */
}

#workspaces button.focused label {
  color: #FFFBEF;
}

#workspaces button.urgent {
  background: #F85552;
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  transition: none; /* Disable predefined animations */
}

#workspaces button.urgent label {
  color: #5C6A72;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  transition: none; /* Disable predefined animations */
}

/* ------------------------------------------- */
/* ----  Right Modules  ---------------------- */
/* ------------------------------------------- */

#cpu {
  background: #F57D26;
  color: #282828;
}

#custom-gpu {
  background: #F57D26;
  color: #282828;
}

#memory {
  background: #DFA000;
  color: #282828;
}

#network {
  background: #8DA101;
  color: #282828;
}

#battery {
  background: #35A77C;
  color: #282828;
}

#battery.critical:not(.charging) {
  background: #F85552;
  color: #282828;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#wireplumber {
  background: #3A94C5;
  color: #282828;
}

#clock {
  background: #DF69BA;
  color: #282828;
}
